body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  text-align: center;
  margin: 0;
}

body, .container, .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  width: 288px;
  padding: 10px;
  margin: 50px;
}

.text-container {
  padding: 10px;
  gap: 10px;
}

#qr-code {
  border-radius: 10px;
  width: 288px;
}

h3 {
  color: hsl(218, 44%, 22%);
}

p {
  color: hsl(216, 15%, 48%);
  font-size: 15px;
}

.attribution {
  font-size: 11px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
